<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/Cus/Create}" th:object="${NewPr}">
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <label>Cost</label>
    <input type="text" th:field="*{cost}">
    <label>code</label>
    <input type="text" th:field="*{code}">
    <label>Description</label>
    <input type="text" th:field="*{moTa}">
    <label>Day</label>
    <input type="date" th:field="*{day}">
    <input type="submit" value="enter">
</form>
</body>
</html>