<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="margin-bottom: 10px; margin-left: 110px">
    <form th:action="@{/Cus/search}" method="get">
        <input type="text" name="keyword">
        <button type="submit">Search</button>
    </form>
</div>
<a th:href="@{/Cus/CreatF}">Tạo Mới</a>
<table border="">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>country</th>
        <th>ccc</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${PrList}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.code}"></td>
        <td th:text="${row.cost}"></td>
        <td th:text="${row.moTa}"></td>
        <td th:text="${row.day}"></td>
        <td><a th:href="@{/Cus/delete/{id}(id=${row.id})}">Delete</a></td>
        <td><a th:href="@{/Cus/View/{id}(id=${row.id})}">Information</a></td>
    </tr>
    </tbody>
</table>
<a th:if="${PrList.hasPrevious()}"
   th:href="@{/Cus/(page=${PrList.number - 1})}">Previous</a>
<span th:text="${PrList.number + 1}"></span> | <span th:text="${PrList.totalPages}"></span>
<a th:if="${PrList.hasNext()}"
   th:href="@{/Cus/(page=${PrList.number + 1})}">Next</a>
</body>
</html>